{% extends "_base.html" %}

{% block conteudo %}
<h1>{{ titulo }}</h1>

<h3>Adicionar usuário</h3>
<form action="usuarios_adc.php" method="post">
    <input type="text" name="login" placeholder="Digite o login" required>
    <input type="password" name="senha" placeholder="Digite sua senha" required>
    <input type="submit" value="Adicionar">
</form>

<h3>Lista de usuários</h3>
<ul>
    {% for usuario in usuarios %}
        <li>
        {{ usuario.login }}
        {{ usuario.senha }}
        <br>
        <a href="usuarios_del.php?id={{ usuario.id }}">Excluir</a>
        <a href="usuarios_edit.php?id={{ usuario.id }}">Trocar a senha</a>
        </li>
    {% else %}
        <li>Nenhum usuário cadastrado.</li>
    {% endfor %}
</ul>
{% endblock %}
